<%-include('partials/header.ejs')%>
        <div class="home container">
            <p id="welcome">Welcome to</p>
            <h1 id="whisper">Whisper</h1>
            <p id="welcome">Don't keep your secrets, share them anonymously!</p>
            <img class = "logo"src="images/gossip.png" alt="">
            
                <a href="/login" role="button" class="loginBtn btn btn-outline-dark">Login</a>
                <a href="/register" role="button" class="registerBtn btn btn-outline-primary">Register</a>
            
        </div>
<%-include('partials/footer.ejs')%>
       